<footer class="container-fluid mb-0 pb-0 px-0 footer-bg position-relative">
    <a href="#" class="back-to-top text-center text-decoration-none fw-bold text-uppercase">Back To Top</a>
    <div class="container position-relative z-3"> 
        <div class="row py-5">
            {%- for nav_item in site.data.navigation.footer.categories -%}
            <div class="col-6 col-md-3 mb-5 ps-4">
                <h5 class="fw-semibold text-white">{{ nav_item.title }}</h5>
                {%- if nav_item.links != nil && nav_item.links.size > 0 -%}
                <ul class="nav flex-column vstack gap-2"> 
                    {%- for link in nav_item.links -%}
                    <li class="nav-item">
                        {%- if link.external -%}
                            <a href="{{ link.url }}" class="nav-link p-0 link-light d-inline" target="_blank" rel="noopener noreferrer nofollow">{{ link.title }}</a>
                        {%- else -%}
                            <a href="{{ link.url | relative_url }}" class="nav-link p-0 link-light d-inline">{{ link.title }}</a>
                        {%- endif -%}
                    </li>                     
                    {%- endfor -%}
                </ul>
                {%- elsif nav_item.collection -%}
                <ul class="nav flex-column vstack gap-2"> 
                    {%- assign collection = site[nav_item.collection] -%}
                    {%- for collection_item in collection -%}
                    <li class="nav-item">
                        <a href="{{ collection_item.url | relative_url }}" class="nav-link p-0 link-light d-inline">{{ collection_item.title }}</a>
                    </li>
                    {%- endfor -%}
                </ul>
                {%- endif -%}
            </div>
            {%- endfor -%}
        </div>

        
        <!-- Newsletter & RSS Callouts -->
        <div class="row pb-5">
            {%- if site.data.navigation.footer.show_rssfeed-%}
             <div class="col-12 col-md-5 mb-3 mb-md-0 me-auto">
                <h3 class="text-white fw-bold">Prefer a feed?</h3> 
                <p class="text-white">Get updates delivered straight to your reader by following our <a href="{{ '/feed.xml' | relative_url }}" class="link-light fw-semibold" aria-label="RSS Feed">RSS Feed</a></p>
            </div>            
            {%- endif -%}
            {%- if site.data.navigation.footer.show_newsletter -%}
            <div class="col-12 col-md-7 ms-auto">
                <form>
                    <h3 class="text-white fw-bold">Subscribe to our newsletter</h3> 
                    <p class="text-white">Monthly digest of what's new and exciting from us</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter-signup-footer" class="visually-hidden">Email address</label>
                        <div class="input-group" aria-label="An input group to enter your email for receiving newsletters.">
                            <input id="newsletter-signup-footer" type="email" class="form-control white-outline rounded-start" placeholder="Email address">
                            <button class="btn btn-outline-light" type="button">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div> 
            {%- endif -%}
        </div>

        <!-- Social Links -->
        <div class="d-flex justify-content-end mt-3 mb-0">
            <ul class="list-unstyled d-flex gap-4 justify-content-start">
                {%- comment -%} 
                    Loop through global '_config' social links and only show links that have a 'share_url',
                    share_url is for links that need to include platform specific search parameters in the url
                {%- endcomment -%}
                {%- for social in site.socials -%}
                {%- unless social.share_url == nil or social.share_url == "" -%}
                <li class="list-item">
                    <a href="{{ social.share_url }}{{ page.url | absolute_url }}" class="text-decoration-none link-light" aria-label="Share on {{ social.title }}"><i class="{{ social.icon }} fa-lg"></i></a>
                </li>
                {%- else -%}
                {%- if social.url -%}
                <li class="list-item">
                    <a href="{{ social.url }}{{ page.url | absolute_url }}" class="text-decoration-none link-light" aria-label="Share on {{ social.title }}"><i class="{{ social.icon }} fa-lg"></i></a>
                </li>   
                {%- endif -%}             
                {%- endunless -%}
                {%- endfor -%}
                <li class="list-item">
                    <a href="{{ '/feed.xml' | relative_url }}" class="text-decoration-none link-light" aria-label="RSS Feed"><i class="fa-solid fa-rss fa-lg"></i></a>
                </li>
            </ul>
        </div>

        <!-- Branding -->
        <div class="d-flex justify-content-start py-4 mt-0 border-top"> 
            <div class="d-flex align-items-center">
                <a href="{{ '/' | relative_url }}" class="text-decoration-none link-light">
                    <img src="{{ 'assets/images/logos/ace-logo-md.png' | relative_url }}" class="img-fluid me-3" width="48" height="48" alt="ACE Logo">
                    <span class="fw-bold m-0 p-0">Alaska Climate & Ecosystems Dashboard</span> 
                </a>
            </div>
        </div>
    </div>
    <div class="footer-wave z-0"></div>
</footer>