<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" aria-label="Global Navigation Bar">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{{ site.data.navigation.brand.url | relative_url }}">{{ site.data.navigation.brand.title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar-main" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {%- for nav_item in site.data.navigation.navbar -%}
                    {%- if nav_item.dropdown != nil -%}
                        {%- assign is_active = false -%}
                    {%- if page.url contains nav_item.url -%}
                        {%- assign is_active = true -%}
                    {%- endif -%}
                    <script>console.log('--{{ page.url }} : {{ is_active }}');</script>
                    <li class="nav-item dropdown">
                        <button class="nav-link dropdown-toggle {% if is_active %}active{% endif %}" {% if is_active %}aria-current="page"{% endif %} role="button" data-bs-toggle="dropdown">{{ nav_item.title }}</button>
                        <ul class="dropdown-menu border-0" data-bs-theme="dark">
                            {% for dropdown_item in nav_item.dropdown -%}
                                {%- if dropdown_item.collection -%}
                                {%- assign collection = site[dropdown_item.collection] -%}
                                {%- for collection_item in collection -%}
                                    <li><a class="dropdown-item" href="{{ collection_item.url | relative_url }}">{{ collection_item.title }}</a></li>
                                {%- endfor -%}
                                {%- elsif dropdown_item.divider -%}
                                    <li><hr class="dropdown-divider"></li>
                                {%- else -%}
                                    <li><a class="dropdown-item" href="{{ dropdown_item.url | relative_url }}">{{ dropdown_item.title }}</a></li>
                                {%- endif -%}
                            {%- endfor -%}
                        </ul>
                    </li>                   
                    {%- else -%}
                    <li class="nav-item">
                        <a class="nav-link {% if page.url contains nav_item.url %}active{% endif %}" {% if page.url contains nav_item.url %}aria-current="page"{% endif %} href="{{ nav_item.url | relative_url }}">{{ nav_item.title }}</a>
                    </li>
                    {%- endif -%}
                {%- endfor -%}
            </ul>
        </div>
    </div>
</nav>