<section aria-labelledby="partners-title">
    <div class="container-fluid mt-0 pt-5 pb-5 partner-section">
        <h3 id="partners-title" class="title-around d-block text-muted text-inset py-5">Our Partners</h3>
        <div class="partner-wrapper my-5">
            <div class="partner-item partner-logo" style="--index: 1;">
                <a href="https://www.fisheries.noaa.gov/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/images/partners/noaa.png" class="img-fluid grayscale-hover" width="auto" height="90" alt="NOAA Logo">
                </a>
            </div>
            <div class="partner-item partner-logo" style="--index: 2;">
                <a href="https://www.fisheries.noaa.gov/alaska/ecosystems/alaska-climate-integrated-modeling-project" target="_blank" rel="noopener noreferrer">
                    <img src="assets/images/partners/aclim.png" class="img-fluid grayscale-hover" width="auto" height="70" alt="ACLIM Badge">
                </a>
            </div>
            <div class="partner-item partner-logo" style="--index: 3;">
                <a href="https://oregonstate.edu/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/images/partners/osu.png" class="img-fluid grayscale-hover" width="auto" height="90" alt="OSU Logo">
                </a>
            </div>
            <div class="partner-item partner-logo" style="--index: 4;">
                <a href="https://www.psmfc.org/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/images/partners/psmfc.png" class="img-fluid grayscale-hover" width="auto" height="90" alt="PSMFC Logo">
                </a>
            </div>
            <div class="partner-item partner-logo" style="--index: 5;">
                <a href="https://www.npfmc.org/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/images/partners/npfmc.png" class="img-fluid grayscale-hover" width="auto" height="90" alt="NPFMC Logo">
                </a>
            </div>
            <div class="partner-item partner-logo" style="--index: 6;">
                <a href="https://www.pmel.noaa.gov/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/images/partners/pmel.png" class="img-fluid grayscale-hover" width="auto" height="90" alt="PMEL Logo">
                </a>
            </div>
            <div class="partner-item partner-logo" style="--index: 7;">
                <a href="https://www.integratedecosystemassessment.noaa.gov/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/images/partners/iea.png" class="img-fluid grayscale-hover" width="auto" height="90" alt="IEA Logo">
                </a>
            </div>
            <div class="partner-item partner-logo" style="--index: 8;">
                <a href="https://akfin.psmfc.org/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/images/partners/akfin.png" class="img-fluid grayscale-hover" width="auto" height="90" alt="AKFIN Logo">
                </a>
            </div>
            <div class="partner-item partner-logo" style="--index: 9;">
                <a href="https://www.washington.edu/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/images/partners/uw.png" class="img-fluid grayscale-hover opacity-75" width="auto" height="90" alt="UW Logo">
                </a>
            </div>
            <div class="partner-item partner-logo" style="--index: 10;">
                <a href="https://www.fisheries.noaa.gov/alaska/ecosystems/gulf-alaska-climate-integrated-modeling-project" target="_blank" rel="noopener noreferrer">
                    <img src="assets/images/partners/goaclim.png" class="img-fluid grayscale-hover opacity-75" width="auto" height="90" alt="GOACLIM Badge">
                </a>
            </div>
            <div class="partner-item partner-logo" style="--index: 11;">
                <a href="https://www.noaa.gov/digital-collections/noaa-voices" target="_blank" rel="noopener noreferrer">
                    <img src="assets/images/partners/noaa-voices.png" class="img-fluid grayscale-hover opacity-75" width="auto" height="90" alt="NOAA Voices Badge">
                </a>
            </div>
        </div>
    </div>
</section>