/*--------------
  VARIABLES       
-------------- */
:root {
  --land-animal-color-primary: #954c3e;
  --land-animal-color-secondary: #8e483a;

  --sea-animal-color-primary: #95c8d4;
  --sea-animal-color-secondary: #4c7985;

  --plant-color-primary: #577c24;
  --plant-color-secondary: #3c5617;
}

.bg-land-animals {
  background-color: var(--land-animal-color-primary);
}

.bg-sea-animals {
  background-color: var(--sea-animal-color-primary);
}

.bg-sea-and-river-animals {
  background-color: var(--sea-animal-color-primary);
}

.bg-plants {
  background-color: var(--plant-color-primary);
}

/*--------------
  CALENDAR VIEWER COMPONENT    
-------------- */
.image-viewer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

/* Highlights for svg paths */
.image-viewer .highlights path {
    opacity: 0.0;
    transition: opacity 0.35s ease, fill 0.35s ease;
}

.image-viewer .highlights path:hover {
    opacity: 0.15;
}

.image-viewer .highlights path:focus {
  opacity: 0.25;
  outline: none;
}

.image-viewer .highlights path.active {
  opacity: 0.25;
}

.image-stage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-stage img,
.image-stage svg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform .2s ease;
}

.image-stage svg {
    width: 100%;
    height: 100%;
}

/*--------------
  LEGEND COLORS   
-------------- */
.land-animal-solid {
    background-color: var(--land-animal-color-primary);
}

.land-animal-stripe {
      background: repeating-linear-gradient(
    45deg,
    var(--land-animal-color-primary),
    var(--land-animal-color-primary) 10px,
    var(--land-animal-color-secondary) 10px,
    var(--land-animal-color-secondary) 20px
    );
}

.sea-animal-solid {
    background-color: #96dde1;
}

.sea-animal-stripe {
      background: repeating-linear-gradient(
    45deg,
    var(--sea-animal-color-primary),
    var(--sea-animal-color-primary) 10px,
    var(--sea-animal-color-secondary) 10px,
    var(--sea-animal-color-secondary) 20px
    );
}

.sea-animal-mixed {
    background:
    repeating-linear-gradient(
      45deg,
      var(--sea-animal-color-primary),
      var(--sea-animal-color-primary) 10px,
      var(--sea-animal-color-secondary) 10px,
      var(--sea-animal-color-secondary) 20px
    ) bottom / 100% 50% no-repeat,
    var(--sea-animal-color-primary);
}

.plant-color-solid {
    background-color: #89ba3b;
}

.plant-color-stripe {
      background: repeating-linear-gradient(
    45deg,
    var(--plant-color-primary),
    var(--plant-color-primary) 10px,
    var(--plant-color-secondary) 10px,
    var(--plant-color-secondary) 20px
    );
}

/*--------------
  LEGEND LAYOUT 
-------------- */

 .legend {
  border: 1px solid #cecece;
  border-radius: 4px;
  padding: 14px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
}

.legend .legend-title {
  position: absolute;
  top: -10px;
  left: 12px;
  margin: 0;
  background-color: white;
}

.legend-title h6 {
  margin: 0;
  padding: 0 8px;
  font-weight: bold;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px
}

.legend-group {
  display: block;
}

.color-box {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #ccc;
}