---
layout: default
---

<!-- Breadcrumb -->
{% include breadcrumbs.html %}

<div class="container mb-5">
  {%- if page.type == 'category' -%}
  <span class="block-text small fw-semibold text-uppercase">Category</span> 
  <h1 class="mb-1">Posts Categorized Under: {{ page.title | capitalize }}</h1> 
  {%- elsif page.type == 'year' -%}
  <span class="block-text small fw-semibold text-uppercase">Year</span> 
  <h1 class="mb-1">News Archive for the Year {{ page.date | date: "%Y" }}</h1> 
  {%- elsif page.type == 'month' -%}
  <span class="block-text small fw-semibold text-uppercase">Month</span> 
  <h1 class="mb-1">News Archive for {{ page.date | date: "%B %Y" }}</h1> 
  {%- endif -%}    
  <hr>

  <ul class="list-unstyled vstack gap-4">
    {%- for post in page.posts -%}
    <li class="list-item">
        <div class="col">
            <div class="card h-100">
                <div class="row g-0 h-100 position-relative">
                    <div class="col-12 col-lg-4 d-none d-lg-block">
                        <img src="{{ post.mainImageURL | relative_url }}" class="w-100 h-100 object-fit-cover rounded-start" alt="{{ post.mainImageAlt }}">
                    </div>
                    <div class="col-12 col-lg-8">
                        <div class="card-body h-100 d-flex flex-column h-100">
                            <span class="align-self-start block-text text-uppercase mb-2">{{ post.type }}</span> 
                            <h3 class="mb-0">{{ post.title }}</h3> 
                            <time datetime="{{ page.updated | date_to_xmlschema }}" class="mb-1">{{ post.date | date: "%B %Y" }}</time> 
                            <p class="card-text mb-3">{{ post.excerpt }}</p> 
                            <a href="{{ post.url | relative_url }}" class="icon-link gap-1 icon-link-hover text-decoration-none stretched-link link-dark mt-auto">Read more <svg class="bi mt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M471.1 297.4C483.6 309.9 483.6 330.2 471.1 342.7L279.1 534.7C266.6 547.2 246.3 547.2 233.8 534.7C221.3 522.2 221.3 501.9 233.8 489.4L403.2 320L233.9 150.6C221.4 138.1 221.4 117.8 233.9 105.3C246.4 92.8 266.7 92.8 279.2 105.3L471.2 297.3z"/></svg></a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>  
    {%- endfor -%}
  </ul>
</div>