---
layout: default
js-postload-files:
 - "/assets/scripts/components/basic-search.min.js"
---

<!-- Hero -->
{%- assign hero_data = page.hero_data -%}
{%- include hero-data.html data=hero_data -%}

<!-- Breadcrumb -->
{%- include breadcrumbs.html -%}

<!-- Region Summary -->
<section aria-labelledby="region-summary-title region-summary-subtitle">
    <div class="container my-5"> 
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
                <img src="{{ page.summary_img_url | relative_url }}" class="img-fluid rounded shadow-sm mb-4 mb-lg-0" width="100%" height="auto" alt="{{ page.summary_img_alt }}">
            </div>
            <div class="col-12 col-lg-8">
                <h1 id="region-summary-title" class="block-text small fw-semibold text-uppercase mb-3">{{ page.region_name }}</h1> 
                <p id="region-summary-subtitle"class="display-5 fw-bold mb-3">{{ page.summary_title }}</p> 
                <p class="lead">{{ page.summary_lead }}</p> 
            </div>
        </div>
    </div>
</section>

{%- if site.show_beta_features == true -%}
{%- unless page.google_maps_url == nil or page.key_geographical_points.size <= 0 -%}
<!-- Geospatial Overview -->
<section aria-labelledby="geospatial-title">
    <div class="container mb-3">
        <div class="row">
            <div id="expand-col" class="col-12 col-lg-6 transition-col">
                <!-- Map Embed -->
                <div class="map-container mb-2 mb-md-0">
                    <iframe src="{{ page.google_maps_url }}" width="100%" height="512" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="d-flex justify-content-end pt-2">
                    <button id="expand-btn" class="btn btn-ace-primary icon-link d-none d-lg-block" role="button" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                        <svg class="expand-icon bi" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path d="M128 96C110.3 96 96 110.3 96 128L96 224C96 241.7 110.3 256 128 256C145.7 256 160 241.7 160 224L160 160L224 160C241.7 160 256 145.7 256 128C256 110.3 241.7 96 224 96L128 96zM160 416C160 398.3 145.7 384 128 384C110.3 384 96 398.3 96 416L96 512C96 529.7 110.3 544 128 544L224 544C241.7 544 256 529.7 256 512C256 494.3 241.7 480 224 480L160 480L160 416zM416 96C398.3 96 384 110.3 384 128C384 145.7 398.3 160 416 160L480 160L480 224C480 241.7 494.3 256 512 256C529.7 256 544 241.7 544 224L544 128C544 110.3 529.7 96 512 96L416 96zM544 416C544 398.3 529.7 384 512 384C494.3 384 480 398.3 480 416L480 480L416 480C398.3 480 384 494.3 384 512C384 529.7 398.3 544 416 544L512 544C529.7 544 544 529.7 544 512L544 416z"/>
                        </svg>
                        <svg class="compress-icon bi d-none" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path d="M256 128C256 110.3 241.7 96 224 96C206.3 96 192 110.3 192 128L192 192L128 192C110.3 192 96 206.3 96 224C96 241.7 110.3 256 128 256L224 256C241.7 256 256 241.7 256 224L256 128zM128 384C110.3 384 96 398.3 96 416C96 433.7 110.3 448 128 448L192 448L192 512C192 529.7 206.3 544 224 544C241.7 544 256 529.7 256 512L256 416C256 398.3 241.7 384 224 384L128 384zM448 128C448 110.3 433.7 96 416 96C398.3 96 384 110.3 384 128L384 224C384 241.7 398.3 256 416 256L512 256C529.7 256 544 241.7 544 224C544 206.3 529.7 192 512 192L448 192L448 128zM416 384C398.3 384 384 398.3 384 416L384 512C384 529.7 398.3 544 416 544C433.7 544 448 529.7 448 512L448 448L512 448C529.7 448 544 433.7 544 416C544 398.3 529.7 384 512 384L416 384z"/>
                        </svg>
                        <span>Expand</span>
                    </button>
                </div>
            </div>
            <div id="expand-col-neighbor" class="col-12 col-lg-6">
                <h5 id="geospatial-title" class="fw-bold">Key Geographical Anchor Points</h5>
                <p class="lead">{{ page.key_points_summary }}</p>
                <hr class="mt-0">
                <ul id="location-list" class="row list-group list-group-flush">
                    {%- for point in page.key_geographical_points -%}
                    <li class="list-group-item">
                        <div class="d-flex">
                            {%- if point.img_url -%}
                            <div class="flex-shrink-0">
                                <img src="{{ point.img_url }}" class="img-fluid rounded" alt="A picture of {{ point.town }}">
                            </div>
                            {%- endif -%}
                            <div class="flex-grow-1 ms-3">
                                <div class="d-flex justify-content-between align-items-center mb-1">
                                    <h5 class="mb-1"><i class="fa-solid fa-location-dot"></i> {% if point.town %}<span class="fw-bold">{{ point.town }}</span>{% endif %} {% if point.land_feature %}<span class="{% if point.town %}small{% else %}fw-bold{% endif %}">{{ point.land_feature }}</span>{% endif %}</h5>
                                    {%- if point.lat and point.long -%}
                                    <span class="badge text-bg-light text-muted">{{ point.lat }}, {{ point.long }}</span>
                                    {%- endif -%}
                                </div>
                                {%- if point.description -%}
                                <p class="text-muted mb-1">{{ point.description }}</p>
                                {%- endif -%}
                            </div>
                        </div>
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>
</section>
{%- endunless -%}
{%- endif -%}

{%- if page.points_of_contact.size > 0 -%}
<!-- Points of Contact -->
<section aria-labelledby="contacts-title">
    <div class="container mb-5">
        <!-- POC Title -->
        <h4 id="contacts-title" class="fw-bold">{% if page.points_of_contact.size > 1 %}Points{% else %}Point{% endif %} of Contact</h4>
        <hr class="mt-0">
        <ul class="list-unstyled row d-flex justify-content-start align-items-center flex-wrap gap-3">
            {%- for contact in page.points_of_contact -%}
            {%- assign author_slug = contact | slugify -%}
            {%- assign author_item = site.people | where: "slug", author_slug | first -%}
            <li class="col list-item">
                <div class="card shadow-sm p-2 h-100">
                    <div class="card-body d-flex">
                        <div>
                            <img class="rounded-circle" width="96" height="auto" src="{{ author_item.main_img_url | relative_url }}" alt="{{ author_item.main_img_alt }}">
                        </div>
                        <div class="border-start ps-3 ms-3">
                            <h5 class="fw-bold mb-0">{{ author_item.full_name }}</h5>
                            <p class="text-muted mb-0">{{ author_item.position }}</p>
                            <p class="text-muted fw-light mb-0">{{ author_item.affiliation }}</p>
                            <hr class="my-2">
                            <a href="mailto:{{ author_item.email }}" class="text-decoration-none icon-link icon-link-hover link-dark" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"><svg class="bi mt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M112 128C85.5 128 64 149.5 64 176C64 191.1 71.1 205.3 83.2 214.4L291.2 370.4C308.3 383.2 331.7 383.2 348.8 370.4L556.8 214.4C568.9 205.3 576 191.1 576 176C576 149.5 554.5 128 528 128L112 128zM64 260L64 448C64 483.3 92.7 512 128 512L512 512C547.3 512 576 483.3 576 448L576 260L377.6 408.8C343.5 434.4 296.5 434.4 262.4 408.8L64 260z"/></svg> {{ author_item.email }}</a>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between w-100 bg-white">
                        {%- assign has_links = author_item.website | append: author_item.github | append: author_item.scholar | append: author_item.linkedin | append: author_item.bluesky | append: author_item.orcid -%}
                        {%- if has_links != "" -%}
                        <!-- Social Links -->
                        <div class="d-flex justify-content-center align-items-center text-muted">
                            {%- if author_item.website -%}<a class="link-dark mx-2" href="{{ author_item.website }}" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-lg fa-globe"></i></a>{%- endif -%}
                            {%- if author_item.github -%}<a class="link-dark mx-2" href="{{ author_item.github }}" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-lg fa-github"></i></a>{%- endif -%}
                            {%- if author_item.scholar -%}<a class="link-dark mx-2" href="{{ author_item.scholar }}" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-lg fa-google-scholar"></i></a>{%- endif -%}
                            {%- if author_item.linkedin -%}<a class="link-dark mx-2" href="{{ author_item.linkedin }}" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-lg fa-linkedin"></i></a>{%- endif -%}
                            {%- if author_item.bluesky -%}<a class="link-dark mx-2" href="{{ author_item.bluesky }}" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-lg fa-bluesky"></i></a>{%- endif -%}
                            {%- if author_item.orcid -%}<a class="link-dark mx-2" href="{{ author_item.orcid }}" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-lg fa-orcid"></i></a>{%- endif -%}
                        </div>
                        {%- endif -%}

                        <!-- Profile Link -->
                        <a href="{{ author_item.url | relative_url }}" class="icon-link icon-link-hover text-decoration-none fw-semibold link-dark">Profile 
                            <svg class="bi mt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
                                <path d="M471.1 297.4C483.6 309.9 483.6 330.2 471.1 342.7L279.1 534.7C266.6 547.2 246.3 547.2 233.8 534.7C221.3 522.2 221.3 501.9 233.8 489.4L403.2 320L233.9 150.6C221.4 138.1 221.4 117.8 233.9 105.3C246.4 92.8 266.7 92.8 279.2 105.3L471.2 297.3z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </li>
            {%- endfor -%}
        </ul>
    </div>    
</section>
{%- endif -%}

{%- assign region_resources = site.data.resources.entries | where: 'is_available', true | where_exp: "item", "item.regions contains page.slug" -%}
{%- if region_resources.size > 0 -%}
<basic-search search-container="#resource-container" search-filter-data="data-resource-type" summary-text="#results-summary" paginate-summary="#results-remaining-summary" no-results="#no-results-feedback" reset-search="#reset-search" paginate-controls="#paginate-controls" results-per-page="3">
    <!-- Search-Filter Component -->
    <form class="container my-5" role="search" aria-labelledby="filter-heading">
        <!-- Resources Title -->
        <h4 id="filter-heading" class="fw-bold">Related Resources</h4>
        <hr class="mt-0">

        <!-- No Script Alert -->
        <noscript>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Heads Up!</strong> Your browser has Javascript disabled! Some or all functionality of this search filter may not work properly!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </noscript>

        <span class="fs-6 fw-semibold ms-3"><i class="fa-solid fa-filter"></i> Search Resources</span>
        <p class="ms-3 text-muted"><small>Search and filter related resources below</small></p>

        <div class="row g-2 mb-3">
            <!-- Search Input -->
            <div class="col-12">
                <div class="input-group">
                    <label class="input-group-text" for="search-input">Search</label>
                    <input id="search-input" type="search" class="form-control" placeholder="Search titles" aria-label="Search titles" data-search-input>
                    <button id="clear-input" class="btn bg-body-secondary focus-ring" type="button" aria-label="Clears typed search input" data-clear-input>
                        <i class="fa-solid fa-x"></i>
                    </button>
                </div>
            </div>
        </div>

        <hr class="mt-0 pt-0">

        <!--Search Filter Toggles -->
        <div role="group" aria-label="People attribute filters">
            <!-- Label & Clear Button -->
            <div class="row align-items-end justify-content-between mb-3">
                <div class="col-auto">
                    <span class="fw-bold small tracking-wider">Filter by Type:</span>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn bg-body-secondary focus-ring rounded-pill" data-clear-filters>
                        <i class="fa-solid fa-eraser" aria-hidden="true"></i> Clear Filters
                    </button>
                </div>
            </div>

            <!-- Species Filters -->
            <div class="row">
                <div class="col-12 d-flex flex-wrap gap-2">
                    {%- assign resource_types = site.data.tags.resources.resource_types.items -%}
                    {%- for type in resource_types -%}
                    <button type="button" class="btn rounded-pill bg-body-secondary" data-bs-toggle="button" data-search-filter data-filter-for="{{ type.id | slugify }}">{{ type.label }}</button>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </form>
</basic-search>

<!-- Resource Section -->
<section aria-labelledby="resources-title">
    <div class="container pb-5 my-5">
        <!-- Results/Pagination Summary -->
        <h2 id="resources-title" class="visually-hidden">Related Resources</h2>
        <output id="results-summary" class="text-muted small mb-0"></output>
        <hr>

        <!-- Related Resources -->
        <ul id="resource-container" class="list-unstyled vstack gap-4 py-2">

            {%- for resource in region_resources -%}
            <li class="card resource-card {{ resource.type | slugify }} rounded-0 rounded-end border-0 border-start shadow-sm" data-resource-type="{{ resource.type | slugify }}" data-search-item>
                <div class="card-body">
                    {% assign resource_type = resource.type | replace: "-" , " " | replace: "and" , "&" %}
                    <h5 class="card-title"><a href="{{ resource.url }}" target="_blank" rel="noopener noreferrer" class="text-decoration-none link-dark" data-search-text>{{ resource.title }}</a></h5>
                    <p class="card-text"><small class="text-muted fw-bold"><i class="{{ resource.icon }}"></i> <span class="text-capitalize">{{ resource_type }}</span></small></p>
                    <hr>
                    <p class="card-text">{{ resource.description }}</p>
                    <div class="d-flex justify-content-end">
                        <a href="{{ resource.url }}" class="btn btn-sm btn-outline-dark text-decoration-none mb-0 mt-auto">Open<i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
            </li>
            {%- endfor -%}

        </ul>

        <!-- No Results -->
        <div id="no-results-feedback" class="px-4 my-2 text-center" role="alert">
            <h5 class="fw-bold text-body-emphasis">No Results Found</h5> 
            <div class="col mx-auto pb-5"> 
                <p class="lead mb-0">{{ page.region_name }} has no resource matching your query</p>
                <p>Try checking for typos or use broader keywords.</p>
                <button id="reset-search" type="button" class="btn btn-ace-primary mt-3" aria-controls="species-container">Reset Search</button>
            </div> 
        </div>

        <hr>
        <!-- Remaining Results Summary -->
        <div class="d-flex justify-content-between">
            <output id="results-remaining-summary" class="text-muted small my-0"></output>
        </div>

        <!-- Show More Button -->
        <div id="paginate-controls" class="d-flex justify-content-center pb-4 pt-0">
            <div class="d-grid gap-2 col-3 mx-auto">
                <button class="btn btn-ace-primary btn-lg rounded-pill" data-show-more>Show More</button>
            </div>
        </div>
    </div>
</section>
{%- else -%}
<!-- No Related Resources -->
<div class="container pb-5 mb-5">
    <!-- Resources Title -->
    <h4 id="resources-title" class="fw-bold">Related Resources</h4>
    <hr class="mt-0">

    <!-- No Associated Resources -->
    <div class="px-4 my-2 text-center" role="alert">
        <h5 class="fw-bold text-body-emphasis">No Resources</h5> 
        <div class="col-lg-4 mx-auto pb-5"> 
            <p class="lead mb-0">{{ page.region_name }} has no related resources</p>
            <p>Check back later or return home</p>
            <a href="{{ '/' | relative_url }}" class="btn btn-ace-primary mt-3">Return Home</a>
        </div> 
    </div>
</div>
{%- endif -%}
{%- if site.show_beta_features == true -%}
<script>
    const button = document.querySelector('#expand-btn');

    button.addEventListener('click', () => {
        const expandCol = document.querySelector('#expand-col');
        const expandNeighbor = document.querySelector('#expand-col-neighbor');

        const expandIcon = button.querySelector('.expand-icon');
        const compressIcon = button.querySelector('.compress-icon');
        const btnText = button.querySelector('span');

        expandCol.classList.toggle('full-width');
        expandNeighbor.classList.toggle('col-lg-6');

        const isExpanded = expandCol.classList.contains('full-width');

        if (isExpanded) {
            expandIcon.classList.add('d-none');
            compressIcon.classList.remove('d-none');

            btnText.textContent = "Compress";
        } else {
            compressIcon.classList.add('d-none');
            expandIcon.classList.remove('d-none');

            btnText.textContent = "Expand";
        }
    });
</script>
{%- endif -%}